
body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; 
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px; 
  min-height: 100vh;
}

.custom-table {
  width: 80%;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff; 
}

.custom-table th,
.custom-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #dee2e6; 
}

.custom-table th {
  background-color: #212529; 
  color: #ffffff;
}


.loading-message {
  font-size: 18px;
  color: #6c757d; 
}

.b1{
  color: aqua;
}